# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

ISE-based/PLApy/*

PLA-pyfiles/data/converted_output1.csv

ISE-based/data/converted_output1.csv
